Мы создаем бекэнд для сервиса который получает данные из https://pvz.wb.ru/
Даннные получем при помощи клиента pvz-client
Данные полученные сохраняются в модели в базе данных для последующего анализа и ведения статистики
Когда пишешь код будь на 100% уверен, что ты ломаешь ничего существущего в проекте.