# APP
DEBUG=False
APP_SECRET_KEY=your_secret_key_here
APP_PORT=8000
ALLOW_ORIGINS=["*"]
ALLOW_ORIGIN_REGEX="^.*$"

ACCESS_TOKEN_LIFETIME=3600
REFRESH_TOKEN_LIFETIME=604800

# TELEGRAM
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# WILDBERRIES
WILDBERRIES_BASE_PATH=https://orr-franchise.wildberries.ru
AUTH_BASE_PATH=https://auth-orr.wildberries.ru
WB_BASIC_TOKEN=your_wb_basic_token_here

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_strong_redis_password_here
REDIS_URL=redis://:your_strong_redis_password_here@redis:6379/0

# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_strong_postgres_password_here
POSTGRES_DB=wbtrack
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_NON_ROOT_USER=wbtrack_user
POSTGRES_NON_ROOT_PASSWORD=your_strong_non_root_password_here
POSTGRES_POOL_SIZE=80
POSTGRES_MAX_OVERFLOW=10

# PREFECT
PREFECT_SERVER_API_HOST=0.0.0.0
PREFECT_API_URL=http://localhost:4200/api
PREFECT_API_DATABASE_ECHO=False

# PVZ_CLIENT_URLS
DISCOVERY_URL="https://api-discovery.wb.ru"
S_POINT_URL="https://s-point.wb.ru/s103"
POINT_RATING_URL="https://point-rating.wb.ru/external"
POINT_BALANCE_URL="https://point-balance.wb.ru/s4"
AUTH_BASE_PATH="https://r-point.wb.ru"

# ENVIRONMENT
ENVIRONMENT=production
