aiofiles==24.1.0
aiogram==3.15.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.2
aiosqlite==0.20.0
alembic==1.14.0
alembic-postgresql-enum==1.4.0
annotated-types==0.7.0
anyio==4.7.0
apprise==1.9.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgi-lifespan==2.1.0
async-timeout==5.0.1
asyncpg==0.29.0
attrs==24.3.0
bcrypt==4.1.2
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
coolname==2.2.0
croniter==3.0.4
cryptography==44.0.0
dateparser==1.2.0
dnspython==2.7.0
docker==7.1.0
email-validator==2.1.2
exceptiongroup==1.2.2
fastapi==0.111.1
fastapi-async-sqlalchemy==0.6.1
fastapi-cache2==0.2.2
fastapi-cli==0.0.7
fastapi-pagination==0.12.32
fastapi-users==13.0.0
fastapi-users-db-sqlalchemy==6.0.1
fastapi-users-db-sqlmodel==0.3.0
frozenlist==1.5.0
fsspec==2024.10.0
graphviz==0.20.3
greenlet==3.1.1
griffe==0.47.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
httpx-oauth==0.16.0
humanize==4.11.0
hyperframe==6.0.1
idna==3.10
importlib-resources==6.1.3
itsdangerous==2.2.0
jinja2==3.1.4
jinja2-humanize-extension==0.4.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
magic-filter==1.0.12
makefun==1.15.6
mako==1.3.8
markdown==3.7
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
multidict==6.1.0
oauthlib==3.2.2
orjson==3.10.12
packaging==24.2
pathspec==0.12.1
pendulum==3.0.0
pillow==10.4.0
prefect==3.0.0rc14
prometheus-client==0.21.1
propcache==0.2.1
pvz-client @ git+https://github.com/deymonster/pvz_client.git@1bd5995356c8d718e2d306e9f5dc921d0694bb6a
pwdlib==0.2.0
pycparser==2.22
pydantic==2.7.2
pydantic-core==2.18.3
pydantic-settings==2.7.0
pygments==2.18.0
pyjwt==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
python-slugify==8.0.4
pytz==2024.2
pyyaml==6.0.2
readchar==4.2.1
redis==4.6.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rich-toolkit==0.12.0
rpds-py==0.22.3
ruamel-yaml==0.18.6
ruamel-yaml-clib==0.2.12
ruff==0.11.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.36
sqlmodel @ file:///Users/deymonster/My%20projects/WBTrack%20App/backend/sqlmodel_dist/sqlmodel-0.0.22-py3-none-any.whl
starlette==0.37.2
text-unidecode==1.3
time-machine==2.16.0
toml==0.10.2
typer==0.12.5
typing-extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ujson==5.10.0
urllib3==2.2.3
uvicorn==0.30.6
uvloop==0.21.0
watchfiles==1.0.3
websockets==12.0
wrapt==1.17.0
yarl==1.18.3
